$primaryColor: rgb(166, 204, 255);
$linkColor: white;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: $primaryColor;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;

    h1 {
        color: $linkColor;
        &:hover {
            color: darken($linkColor, 5%)
        }
    }

    a {
        text-decoration: none;
    }

    
}